@namespace HRL.Pages
@using HRL.Classes;
@using HRL.Database;
@using Microsoft.AspNetCore.Mvc.ViewFeatures
@using HRL.Components
@using HRL.Database.ToPlc
@using HRL.Database.Local
@using System.Reflection;
@using static HRL.Components.LabeledInput
@using static HRL.Components.LabeledButton



<div class="modal @modalClass" tabindex="-1" role="dialog" style="display:@modalDisplay; overflow-y: auto;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Details Lagerplatz @Titel</h5>
                <button type="button" class="btn-close btn-close-white" data-dismiss="modal" aria-label="Close" @onclick="Close"> </button>
            </div>
            <div class="modal-body">
                @Body
                <form>
                    <div style="display:flex; flex-wrap:wrap;">
                        <div style="flex:1; margin-right:20px;">
                            <LabeledInput Label="Transport-ID:"
                                          StockSpaceData="@modalData"
                                          InputType="InputTypes.Number"
                                          Id="transportUnitId"
                                          ValueInt="@modalData.TransportId"
                                          ValueMax="32767"
                                          ValueMin="1"
                                          Required="true"
                                          Readonly="@readOnly" />

                            <LabeledInput Label="Status:"
                                          StockSpaceData="@modalData"
                                          InputType="InputTypes.Text"
                                          Id="TransportUnitStatus"
                                          ValueString="@modalData.Status"
                                          ValueMax="2"
                                          Readonly="@readOnly" />
                                          
                            <LabeledInput Label="Gewicht:"
                                          StockSpaceData="@modalData"
                                          InputType="InputTypes.Number"
                                          Id="transportUnitWeight"
                                          ValueInt="@TransportUnitWeightValue"
                                          ValueMax="32767"
                                          ValueMin="1"
                                          Required="true"
                                          Readonly="@readOnly"
                                          Suffix="KG" />

                            <LabeledInput Label="Priorität:"
                                          StockSpaceData="@modalData"
                                          InputType="InputTypes.Number"
                                          Id="transportUnitPriority"
                                          ValueInt="@modalData.Priority"
                                          ValueMax="99"
                                          ValueMin="0"
                                          Readonly="@readOnly" />

                            <LabeledInput Label="Inhalt:"
                                          StockSpaceData="@modalData"
                                          InputType="InputTypes.Text"
                                          Id="transportUnitContent"
                                          ValueString="@modalData.Content"
                                          ValueMax="10"
                                          Readonly="@readOnly" />

                            <LabeledInput Label="Anzahl:"
                                          StockSpaceData="@modalData"
                                          InputType="InputTypes.Number"
                                          Id="transportUnitCount"
                                          ValueInt="@modalData.NumberOfItems"
                                          ValueMax="32767"
                                          ValueMin="0"
                                          Readonly="@readOnly"
                                          Suffix="Stück" />
                        </div>

                        <div style="flex:1;">
                            <LabeledInput Label="Einlager Datum:"
                                          StockSpaceData="@modalData"
                                          InputType="InputTypes.Date"
                                          Id="transportUnitStorageDate"
                                          ValueDate="@DateOnly.Parse(modalData.PostingDateTime.Date.ToString("yyyy-MM-dd"))"
                                          Readonly="@readOnly" />

                            <LabeledInput Label="Einlager Uhrzeit:"
                                          StockSpaceData="@modalData"
                                          InputType="InputTypes.Time"
                                          Id="transportUnitStorageTime"
                                          ValueTime="@TimeOnly.FromDateTime(modalData.PostingDateTime)"
                                          Readonly="@readOnly" />

                            <LabeledInput Label="Einlager Benutzer:"
                                          StockSpaceData="@modalData"
                                          InputType="InputTypes.Text"
                                          Id="transportUnitStorageUser"
                                          ValueString="@modalData.PostingUser"
                                          ValueMax="4"
                                          Readonly="@readOnly" />

                            <LabeledInput Label="Transport Datum:"
                                          StockSpaceData="@modalData"
                                          InputType="InputTypes.Date"
                                          Id="transportUnitTransportDate"
                                          ValueDate="@DateOnly.Parse(modalData.TransportDateTime.Date.ToString("yyyy-MM-dd"))"
                                          Readonly="@readOnly" />

                            <LabeledInput Label="Transport Uhrzeit:"
                                          StockSpaceData="@modalData"
                                          InputType="InputTypes.Time"
                                          Id="transportUnitTransportTime"
                                          ValueTime="@TimeOnly.FromDateTime(modalData.TransportDateTime)"
                                          Readonly="@readOnly" />

                            <LabeledInput Label="Transport Benutzer:"
                                          StockSpaceData="@modalData"
                                          InputType="InputTypes.Text"
                                          Id="transportUnitTransportUser"
                                          ValueString="@modalData.TransportUser"
                                          ValueMax="4"
                                          Readonly="@readOnly" />
                        </div>
                    </div>

                    <div>
                        <LabeledInput Label="Bemerkung:"
                                      StockSpaceData="@modalData"
                                      InputType="InputTypes.Text"
                                      Id="transportUnitRemark"
                                      ValueString="@modalData.Remarks"
                                      ValueMax="40"
                                      Required="true"
                                      Readonly="@readOnly" />
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                @Footer
                @if (!readOnly)
                {
                    <LabeledButton ButtonType="ButtonTypes.Button"
                                   ButtonColor="ButtonColors.Green"
                                   Label="Übernehmen"
                                   Id="transportUnitAccept"
                                   OnSwitchState="@Save" />

                    <LabeledButton ButtonType="ButtonTypes.Button"
                                   ButtonColor="ButtonColors.Red"
                                   Label="Löschen"
                                   Id="transportUnitDelete"
                                   OnSwitchState="@Delete" />

                    <LabeledButton ButtonType="ButtonTypes.Button"
                                   ButtonColor="ButtonColors.Grey"
                                   Label="Abbrechen"
                                   Id="transportUnitCancel"
                                   OnSwitchState="@showEdit" />
                }
                else
                {

                    <LabeledButton ButtonType="ButtonTypes.Button"
                                   ButtonColor="ButtonColors.Turquoise"
                                   Label="Anfordern"
                                   Id="transportUnitRequest"
                                   OnSwitchState="@Request" />

                    <LabeledButton ButtonType="ButtonTypes.Button"
                                   ButtonColor="ButtonColors.Blue"
                                   Label="Sofort Anfordern"
                                   Id="transportUnitRequestImmediately"
                                   OnSwitchState = "@RequestNow" />

                    <LabeledButton ButtonType="ButtonTypes.Button"
                                   ButtonColor="ButtonColors.Yellow"
                                   Label="Bearbeiten"
                                   Id="transportUnitEdit"
                                   OnSwitchState="@showEdit" />
                }
            </div>
        </div>
    </div>
</div>

@if (showBackdrop)
{
    <div class="modal-backdrop fade show"></div>
}

@code {
    public string test = "Leer";
    public int TransportUnitWeightValue { get; set; } = 3;

    public bool readOnly = true;

    StockSpaceData? modalData;

    public string Titel;
    public short X;
    public short Y;
    public short Z;

    [Parameter]
    public RenderFragment? Body { get; set; }

    [Parameter]
    public RenderFragment? Footer { get; set; }

    public Guid Guid = Guid.NewGuid();

    private string modalDisplay = "none;";
    private string modalClass = "";
    private bool showBackdrop = false;

    protected override void OnInitialized()
    {
        if (modalData is null)
        {
            modalData = new StockSpaceData();
        }
        base.OnInitialized();
    }

    public void Open(StockSpaceData data, string titel, short x, short y, short z)
    {
        Titel = titel;
        modalData = data;
        X = x;
        Y = y;
        Z = z;
        if (modalData is null)
        {
            modalData = new StockSpaceData();
        }
        modalDisplay = "block;";
        modalClass = "show";
        showBackdrop = true;
        StateHasChanged();
    }

    public void Close()
    {
        if (modalData.Status == "0")
        {
            using (var connect = new HRLContext())
            {
                modalData.DeleteEntry(modalData.Id);
                connect.SaveChanges();
            }
        }
        modalDisplay = "none";
        modalClass = "";
        showBackdrop = false;
        StateHasChanged();
        ReloadPage();
    }

    public void Save(object sender)
    {
        using (var connect = new HRLContext())
        {
            var stockSpace = connect.Find<StockSpace>(modalData.Id);
            modalData.ToStockSpace(stockSpace);
            connect.SaveChanges();
        }
        Close();
    }

    public void Status(string status)
    {
        modalData.Status = status;
    }

    public void Delete(object sender)
    {
        using (var connect = new HRLContext())
        {
            modalData.DeleteEntry(modalData.Id);
            connect.SaveChanges();
        }
        Close();
    }

    public void showEdit(object sender)
    {
        readOnly = !readOnly;
        StateHasChanged();

    }

    //public void Request(object sender)
    //{

    //    using (var connection = new HRLContext())
    //    {
    //        var AuftragAnSpsResult = connection.Find<AuftragAnSps>(1);
    //        AuftragAnSpsResult.Art = short.Parse(modalData.Status);
    //        AuftragAnSpsResult.LagerId = modalData.TransportId;
    //        AuftragAnSpsResult.PositionXP = X;
    //        AuftragAnSpsResult.PositionYP = Y;
    //        AuftragAnSpsResult.PositionZP = Z;
    //        //AuftragAnSpsResult.Gewicht = input feld kann kein float;
    //        connection.SaveChanges();
    //        this.StateHasChanged();
    //        //modalData.DeleteEntry(modalData.Id);
    //        Close();

    //    }
    //}

    public void Request(object sender)
    {

        using (var connection = new HRLContext())
        {
            var JobsResult = new Jobs();
            JobsResult.Status = modalData.Status;
            JobsResult.Priority = modalData.Priority;
            JobsResult.Content = modalData.Content;
            JobsResult.NumberOfItems = modalData.NumberOfItems;
            JobsResult.TransportDateTime = modalData.TransportDateTime;
            JobsResult.Remarks = modalData.Remarks;
            JobsResult.Position = modalData.Position;
            JobsResult.Art = short.Parse(modalData.Status);
            JobsResult.LagerId = modalData.TransportId;
            JobsResult.PositionXP = X;
            JobsResult.PositionYP = Y;
            JobsResult.PositionZP = Z;
            JobsResult.Gewicht = 0;

            connection.Jobs.Add(JobsResult);
            connection.SaveChanges();
            modalData.DeleteEntry(modalData.Id);
            Close();

        }
    }

    public void RequestNow(object sender)
    {

        using (var connection = new HRLContext())
        {
            var JobsResult = new Jobs();
            JobsResult.Status = modalData.Status;
            JobsResult.Priority = 999;
            JobsResult.Content = modalData.Content;
            JobsResult.NumberOfItems = modalData.NumberOfItems;
            JobsResult.TransportDateTime = modalData.TransportDateTime;
            JobsResult.Remarks = modalData.Remarks;
            JobsResult.Position = modalData.Position;
            JobsResult.Art = short.Parse(modalData.Status);
            JobsResult.LagerId = modalData.TransportId;
            JobsResult.PositionXP = X;
            JobsResult.PositionYP = Y;
            JobsResult.PositionZP = Z;
            JobsResult.Gewicht = 0;

            connection.Jobs.Add(JobsResult);
            connection.SaveChanges();
            modalData.DeleteEntry(modalData.Id);
            Close();

        }
    }

    @inject NavigationManager NavigationManager;

    private void ReloadPage()
    {
        NavigationManager.NavigateTo("", true);
    }

}